
body{
background-color: #333;
    
}

/* navbar css */
.nav-link{
    color:white ;
}
.nav-link:hover{
    color:#ffc008 ;
}
/* navbar css */

/* css for home screen search bar */
#searchBar {
    width: 100%;

}
#searchBar button img{
object-fit: contain;
height: 2.5vh;
}
/* css for home screen search bar */


/* css  for card svg (delete bin,bookmark icon) */
.card svg{
    height: 4vh;
    width: 4vh;
   
   
}

.card svg:active{
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.2);
}
/* css  for card svg (delete bin,bookmark icon) */


/* css for card  size */
.card img{
    height: 40vh;
}
#card{
    width: 100vw;
    display: flex;
   
    margin: 5vw;
}
/* css for card image size */

/* css for movie page */
.movie-container{
    display: flex;
    background-color: rgb(134, 155, 175);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    

}
.movie-details{
    padding: 5vw;
}
.movie-container img{
    border-radius: 5px;
}

#movieDetails{
color:rgb(255, 192, 8);
font-size: 7vh;
}

/* css for movie page */
